.logo-image{margin: 10px 0 0 40px;}
.logo-image:hover{cursor:pointer;}
.left_menu_div{ background-color: #e5e5e5; height:800px;}
.top_menu_bg{background-color: #e5e5e5;height:39px;}

/*登录页样式*/
#components-form-demo-normal-login .login-form { max-width: 300px; }
#components-form-demo-normal-login .login-form-forgot { float: right; }
#components-form-demo-normal-login .login-form-button { width: 100%; }
